.action {
  display: flex;
  justify-content: flex-end;
}
.action div {
  display: flex;
  justify-content: center;
  align-items: center;
}

p { 
  margin-left: 0.5rem;
  font-size: 1.3rem;
}

mat-panel-title {
  display: flex;
  flex-direction: row;
}
mat-panel-title p, mat-panel-title div {
  width: 50%;
}

