<div class="container">

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title> {{comment.user.firstname}} {{comment.user.lastname}}</mat-card-title>
      <mat-card-subtitle>{{comment.date | date:'M/d/yy, h:mm a'}}</mat-card-subtitle>
      <div class="logo">
        <i class="material-icons">create</i>
        <i class="material-icons">delete</i>
      </div>
    </mat-card-header>

    <mat-card-content>
      <h2>{{comment.title}}</h2>
      <p> {{comment.content}} </p>
    </mat-card-content>
  </mat-card>

</div>
