<div class="container">

  <mat-card class="example-card">
    <mat-card-header>
      <img [src]="comment.imgURL" alt="phto utilisateur" class="example-header-image">
      <div class="name">
        <mat-card-title> {{comment.firstname}} {{comment.lastname}}</mat-card-title>
        <mat-card-subtitle>{{comment.createAt | date:'M/d/yy, h:mm a'}}</mat-card-subtitle>
      </div>
      <div class="logo">
        <i class="material-icons">create</i>
        <i class="material-icons">delete</i>
      </div>
    </mat-card-header>

    <mat-card-content>
      <h2>{{comment.title}}</h2>
      <p> {{comment.content}} </p>
    </mat-card-content>
  </mat-card>

</div>
