.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

app-sidemenu {
  width: 15%;
  position: fixed;
  display: block;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  height: 100vh;
  padding-left: 15%;
}

.profil {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.user {
  display: flex;
  padding-bottom: 3rem;
}

img {
  width: 300px;
  height: 250px;
  padding: 2rem 20% 0 7%;
}

h1 {
  font-size: 4rem;
  align-self: center;
}

.details {
  display: flex;
  width: 100%;
  padding-top: 5%;
}

.propos {
  padding-left: 7%;
  width: 50%;
}
h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
  color: rgb(168, 8, 8);
  font-weight: bold;
}

p {
  font-size: 2rem;
}

li {
  list-style: none;
  font-size: 2rem;
  margin: 0.5rem;
}

label {
  font-weight: bold;
}

// note
.note {
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

td {
  font-size: 1rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
}

table {
  border-collapse: collapse;
}

.titretab td {
  background-color: rgba(4, 4, 14,0.9);
  color: white;
}
td {
  font-size: 1.5rem;
  background-color: transparent;
  border: 1px solid black;
  text-align: center;
  min-width: 300px;
}

.settings {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.cog {
  display: flex;
  align-self: flex-end;
  margin: 2rem 2rem 0 0;
}

.fa-cog {
  font-size: 2rem;
  color: rgb(168, 8, 8);
}

.fa-cog:hover {
  cursor: pointer;
}

button {
  border: none;
  background-color: transparent;
}

i, span {
  font-size: 1.5rem;
  padding-right: 0.5rem;
}

.toggleSide {
  display: block;
  position: absolute;
  width: 60%;
  z-index: 1000;
}

.menu {
  width: 100%;
  background-color: rgba(4, 4, 14,0.9);
  color: rgb(168, 8, 8);
  border: none;
  font-size: 2rem;
  padding: 0.5rem;
  display: none;
}

.menu:hover {
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .details {
    flex-direction: column;

    .propos, .note {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1000px) {
  app-sidemenu {
      display: none;
  }

  .rightContainer {
      width: 100%;
      padding: 0;
  }

  .menu {
    display: block;
  }
}

@media screen and (max-width: 750px) {
  .user {
    flex-direction: column-reverse;
    align-items: center;

    img {
      padding: 2rem;
    }
  }

  .propos {
    li{
      font-size: 1.5rem;
    }
  }


}