.container {
  display: flex;
  flex-direction: row;
}

h1 {
  font-size: 4rem;
}

// partie de droite

.left {
  width: 30%;
}
img {
  width: 100%;
  border-radius: 15px;
}

// note
.note {
  width: 100%;
  margin: 1rem;
  text-align: center;
}

td {
  font-size: 1rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
}

table {
  border-collapse: collapse;
}
.titretab td {
  font-size: 1.5rem;
  background-color: transparent;
  border: 1px solid black;
  text-align: center;
  min-width: 100px;
}


// partie de droite
.right {
  width: 70%;
  padding: 0 10% 0 10%;
}

p {
  font-size: 2rem;
}

h2 {
  font-size: 3rem;
  margin-bottom: 5rem;
  text-align: center;
}

ul li {
  font-size: 2rem;
  margin: 2rem;
}

li {
  list-style: none;
}

label {
  font-weight: bold;
}

