<div class="container">
  <form [formGroup]="commentForm" (ngSubmit)="sendComment()">
  
      <textarea formControlName="content" required onfocus="clearContents(this)" #area placeholder="Renseignez votre message"></textarea>
  
      <div class="center">
        <button type="submit" *ngIf="commentService.toUpdate === false" (click)="area.value=''"> Envoyer</button>
        <button *ngIf="commentService.toUpdate === true" (click)="updateComment()"> Modifier</button>
      </div>
  </form>
</div>

