.container {
  display: flex;
  flex-direction: row;
  background-color: red;
  padding: 0.5rem;
}
.text {
  width: 50%;
}

h1 {
  font-size: 2rem;
  color: white;
}

h1:hover {
  cursor: pointer;
}

.logo {
  width: 50%;
  display: flex;
  color: white;
  align-items: center;
  justify-content: flex-end;

}
i {
  font-size: 2rem;
  margin: 1rem;
}

i:hover {
  cursor: pointer;
}
