<div class="container" *ngIf="message">
    <div class="comment">
        <div class="left">
            <img src="{{'http://localhost:3000/picture/' + message.imgURL}}" alt="user">
        </div>
        <div class="rigth">
            <div class="details">
                <p class="name">{{message.firstname}} {{message.lastname}}</p>
                <p class="date">{{message.create_at | date: 'short'}}</p>
                <div class="action">
                    <button  (click)="displayResponse()" title="Répondre" *ngIf="mode === 'basic'"><i class="fas fa-reply"></i></button>
                    <button  (click)="updateComment(message)" title="Modifier" *ngIf="(message.lastname === currentUser.lastname)"><i class="fas fa-edit"></i></button>
                    <button (click)='deleteComment(message)' title="Supprimer" *ngIf="(message.lastname === currentUser.lastname) || actionAcces.indexOf(currentUser.status) != -1"><i class="fas fa-trash-alt"></i></button>
                </div>
            </div>
    
            <div class="message">
                <p>{{message.content}}</p>
            </div>
        </div>
    </div>
    <div class="response" *ngIf="nbReponse > 0" (click)="displayResponse()">
        <p>{{nbReponse}} réponse(s)</p>
    </div>
</div>