<app-nav-bar-top></app-nav-bar-top>

<div class="container">
  <div class="left">
    <img [src]="currentUser.imgUrl" alt="image de l'utilisateur">
    <div class="note">
      <p>Notes : </p>
      <p>17</p>
      <p>16</p>
      <p>16</p>
      <p>17</p>
      <p>Moyenne : 16.5/20</p>
    </div>
  </div>

  <div class="right">
    <p> {{currentUser.firstname}} {{currentUser.lastname}}</p>
    <p>{{currentUser.status}}</p>
    <h2>A propos</h2>
    <ul>
      <li>Date de naissance: {{currentUser.birthday}}</li>
      <li>N° de téléphone: {{currentUser.tel}}</li>
      <li>Adresse: {{currentUser.adress}}</li>
      <li>Email: {{currentUser.email}}</li>
    </ul>
  </div>
</div>
