<app-nav-bar-top></app-nav-bar-top>

<div class="container">
  <div class="left">
    <img [src]="currentUser.imgURL" alt="image de l'utilisateur">
    <div class="note">
      <h2>Notes: </h2>
      <p>17</p>
      <p>16</p>
      <p>16</p>
      <p>17</p>
      <p>Moyenne : 16.5/20</p>
    </div>
  </div>

  <div class="right">
    <h1>{{currentUser.firstname}} {{currentUser.lastname}}</h1>
    <p>{{currentUser.status}}</p>
    <h2>A propos</h2>
    <ul>
      <li><label>Date de naissance:</label>     {{currentUser.birthday | date :'mediumDate'}}</li>
      <li><label>N° de téléphone:</label>    {{currentUser.tel}}</li>
      <li><label>Adresse: </label>   {{currentUser.adress}}</li>
      <li><label>Email: </label>   {{currentUser.email}}</li>
    </ul>
  </div>
</div>
