<div class="container">
    <h1>JSP Mérignac</h1>
    <div class="user">
        <div class="options">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <i class="fas fa-sort-down"></i>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/profil"> 
                    <i class="fas fa-user-alt"></i>
                    <span>Profil</span>
                </button>
                <button mat-menu-item routerLink="/admin">
                    <i class="fas fa-user-shield"></i>
                    <span>Admin</span>
                </button>
                <button mat-menu-item>
                    <i class="fas fa-power-off" (click)='logOut()'></i>
                    <span>Déconnexion</span>
                </button>
            </mat-menu>
        </div>
        <div class="name">
            <p>{{currentUser.firstname}} {{currentUser.lastname}}</p>
        </div>
    </div>

    <div class="conversation">
        <h2>Conversations</h2>
        <ul>
            <li (click)="sendDataForDisplay('Commun')">Commun</li>
            <li (click)="sendDataForDisplay('Question')">Question</li>
            <li (click)="sendDataForDisplay('Jsp1')">JSP1</li>
            <li (click)="sendDataForDisplay('Jsp2')">JSP2</li>
            <li (click)="sendDataForDisplay('Jsp3')">JSP3</li>
            <li (click)="sendDataForDisplay('Jsp4')">JSP4</li>
        </ul>
    </div>
</div>