.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2 {
  text-align: center;;
}

app-user-admin {
  width: 70%;
  margin-bottom: 0.5rem;
}

.addUser {
  display: flex;
  justify-content: flex-end;
}

.addUser div {
  font-size: 1.5rem;
  display: flex;
  align-self: flex-end;
  padding: 0.4rem 1rem 0 0;
}
