.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

app-sidemenu {
  width: 15%;
  position: fixed;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  height: 100vh;
  padding-left: 15%;
}

h1 {
  text-align: center;
  font-size: 3rem;
  color: rgb(168, 8, 8);
  padding: 2rem;
  font-weight: bold;
}

h2 {
  text-align: center;
  font-size: 2rem;
  color: rgb(168, 8, 8);
  padding: 1rem;
  font-weight: bold;
}

app-user-admin {
  width: 70%;
  margin-bottom: 0.5rem;
}

.addUser {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.addUser div {
  display: flex;
  align-self: flex-end;
  padding: 2rem;
}

.fa-user-plus {
  font-size: 2rem;
  color: rgb(168, 8, 8);
}

.fa-user-plus:hover {
  cursor: pointer;
}
