<form [formGroup]="userForm" (ngSubmit)="sendUser()">

    <mat-horizontal-stepper [linear]="isLinear" #stepper>

      <mat-step>
        <ng-template matStepLabel>Informations personnelles</ng-template>

        <div class="section-input">
          <div action="" class="login-form">
            <input type="text" name="username" formControlName="firstname" required>
            <label class="label-name"><span class="content-name">Prénom</span></label>
          </div>
        </div>

        <div class="section-input">
          <div action="" class="login-form">
            <input type="text" name="password" formControlName="lastname" required>
            <label class="label-name"><span class="content-name">Nom</span></label>
          </div>
        </div>

        <div class="section-input">
          <div action="" class="login-form">
            <input type="date" name="password" formControlName="birthday" required>
          </div>
        </div>

      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Informations complémentaires</ng-template>

      <div class="section-input">
        <div action="" class="login-form">
          <input type="text" name="password" formControlName="tel" required>
          <label class="label-name"><span class="content-name">Numéro de téléphone</span></label>
        </div>
      </div>

      <div class="section-input">
        <div action="" class="login-form">
          <input type="text" name="password" formControlName="email" required>
          <label class="label-name"><span class="content-name">Email</span></label>
        </div>
      </div>

      <div formGroupName="adress">
        <div class="section-input">
          <div action="" class="login-form">
            <input type="text" name="password" formControlName="street" required>
            <label class="label-name"><span class="content-name">Rue</span></label>
          </div>
        </div>

        <div class="section-input">
          <div action="" class="login-form">
            <input type="text" name="password" formControlName="postcode" required>
            <label class="label-name"><span class="content-name">Code postal</span></label>
          </div>
        </div>

        <div class="section-input">
          <div action="" class="login-form">
            <input type="text" name="password" formControlName="city" required>
            <label class="label-name"><span class="content-name">Ville</span></label>
          </div>
        </div>

      </div>

    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Paramètre du compte</ng-template>

      <div class="section-input">
        <div action="" class="login-form">
          <input type="text" name="password" formControlName="username" required>
          <label class="label-name"><span class="content-name">Nom d'utilisateur</span></label>
        </div>
      </div>

      <div class="section-input">
        <div action="" class="login-form">
          <input type="password" name="password" formControlName="pwd" required>
          <label class="label-name"><span class="content-name">Mot de passe</span></label>
        </div>
      </div>


      

      <div>
        <label class="select-wrapper">
          Status:
          <select name="grp" class="select" formControlName="status">
            <option value="">--Choisir un groupe--</option>
            <option value="Jsp1">Jsp1</option>
            <option value="Jsp2">Jsp2</option>
            <option value="Jsp3">Jsp3</option>
            <option value="Jsp4">Jsp4</option>
            <option value="admin">Admin</option>
            <option value="superAdmin" *ngIf="(currentUser?.status=='superAdmin')">SuperAdmin</option>
          </select>
        </label>
      </div>


      <div class="section-input">
        <div action="" class="login-form">
          <input type="text" name="password" formControlName="imgUrl" required>
          <label class="label-name"><span class="content-name">Photo</span></label>
        </div>
      </div>

      <button type="submit"> Submit</button>
    </mat-step>






    </mat-horizontal-stepper>

</form>