.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pers {
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  margin-bottom: 0.5rem;
  border: 2px solid black;
  width:70%;
}

.identity, .action {
  display: flex;
  flex-direction: row;
  width: 50%;
}

.action {
  display: flex;
  justify-content: flex-end;
}
.action div {
  display: flex;
  justify-content: center;
  align-items: center;
}

i {
  margin-right: 1.5rem;

}

p {
  margin-left: 0.5rem;
}

.addUser {
  display: flex;
  justify-content: flex-end;
}

.addUser div {
  font-size: 1.5rem;
  display: flex;
  align-self: flex-end;
  padding: 0.4rem 1rem 0 0;
}
