.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 80%;
}

.container div {
  display: flex;
  align-items: center;
}
.op1, .op2, .op3 {
  border: 2px solid black;
  width: 30%;
  height: 500px;
  font-size: 7rem;
  text-align: center;
}
