<div>
  <button routerLink="/commun">Commun</button>
  <button routerLink="/question">Question</button>
  <button routerLink="/jsp1" *ngIf="(currentUser?.status=='Admin')||(currentUser?.status=='Jsp1') || (currentUser?.status=='superAdmin')">JSP1</button>
  <button routerLink="/jsp2" *ngIf="(currentUser?.status=='Admin')||(currentUser?.status=='Jsp2') || (currentUser?.status=='superAdmin')">JSP2</button>
  <button routerLink="/jsp3" *ngIf="(currentUser?.status=='Admin')||(currentUser?.status=='Jsp3') || (currentUser?.status=='superAdmin')">JSP3</button>
  <button routerLink="/jsp4" *ngIf="(currentUser?.status=='Admin')||(currentUser?.status=='Jsp4') || (currentUser?.status=='superAdmin')">JSP4</button>
</div>

