<app-nav-bar></app-nav-bar>
<app-open-comment-from *ngIf="(currentUser?.status=='Admin')||(currentUser?.status=='superAdmin')">
</app-open-comment-from>


<div class="comment" *ngFor='let comment of communComments'>
    <app-comment [comment]="comment" (click)="showResponse(comment)"></app-comment>
    <div class="showReponse" *ngIf="comment.show">
        <div class="response" *ngFor='let response of communResponseComments'>
            <app-response [response]="response" *ngIf="comment.id === response.comment_id"></app-response>
        </div>
    </div>
</div>