<div>
  <li routerLink="/commun">Commun</li>
  <li routerLink="/question">Question</li>
  <li routerLink="/jsp1" *ngIf="(currentUser?.status=='Admin')||(currentUser?.status=='Jsp1') || (currentUser?.status=='superAdmin')">JSP1</li>
  <li routerLink="/jsp2" *ngIf="(currentUser?.status=='Admin')||(currentUser?.status=='Jsp2') || (currentUser?.status=='superAdmin')">JSP2</li>
  <li routerLink="/jsp3" *ngIf="(currentUser?.status=='Admin')||(currentUser?.status=='Jsp3') || (currentUser?.status=='superAdmin')">JSP3</li>
  <li routerLink="/jsp4" *ngIf="(currentUser?.status=='Admin')||(currentUser?.status=='Jsp4') || (currentUser?.status=='superAdmin')">JSP4</li>
</div>

