div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
}

li {
  margin: 2rem 3rem 2rem 3rem;
  padding: 0.5rem;
  font-size: 2rem;
  color:white;
  list-style: none;
}

li:hover {
  cursor: pointer;
}

button:hover {
  background-color: grey;
}
