<div class="container">
  <img [src]="imgArray[indexPicture]" alt="Photo">
  <div class="description">


    <div class="reg-form">
      <div class="section-username">
          <form action="" class="login-form">
              <input type="text" name="username" title="Enter Your Username" required>
              <label class="label-name"><span class="content-name">Utilisateur</span></label>
          </form>
      </div>

      <div class="section-confirm-password">
          <form action="" class="login-form">
              <input type="password" name="password" title="Enter Your Confrim Password" required>
              <label class="label-name"><span class="content-name">Mot de passe</span></label>
          </form>
      </div>
      <form action="" class="login-form">
          <button type="button" class="form-btn" (click)='login()'>Connexion</button>
      </form>
  </div>


  </div>

</div>
