.response {
    display: flex;
    justify-content: flex-start;
    margin-left: 20%;
}

app-response {
    width: 70%;
}

.comment {
    background-color:#424242 ;
    margin: 0 15% 0 15%;
    margin-bottom: 0.5rem;
    border-radius: 15px;
}