.locate {
    border-bottom: 1px solid black;
    width: 100%;
    font-size: 2rem;
    padding: 1rem;
    margin-bottom: 1rem;
    position: fixed;
}

.tchat {
    width: 100%;
    padding-top: 70px;
}
