
.container {
    width: 100%;
    overflow: auto;
}

.locate {
    border-bottom: 1px solid black;
    background-color: white;
    width: 85%;
    font-size: 2rem;
    padding: 1rem;
    position: fixed;
}

.tchat {
    width: 95%;
    overflow: hidden;
    padding: 70px 0 120px 0;
}
