<form [formGroup]="userForm" (ngSubmit)="sendUser()">

  <div class="container">

    <div>
      <label>
        Prénom:
        <input type="text" formControlName="firstname">
      </label>
    </div>
    <div>
      <label>
        Nom:
        <input type="text" formControlName="lastname">
      </label>
    </div>

    <div>
      <label>
        Date d'anniversaire:
        <input type="date" formControlName="birthday">
      </label>
    </div>

    <div>
      <label>
        Numéro de téléphone:
        <input type="text" formControlName="tel">
      </label>
    </div>

    <div>
      <label>
        Email:
        <input type="text" formControlName="email">
      </label>
    </div>

    <div>
      <label>
        Nom d'utilisateur:
        <input type="text" formControlName="username">
      </label>
    </div>

    <div>
      <label>
        Mot de passe:
        <input type="text" formControlName="pwd">
      </label>
    </div>

    <div formGroupName="adress">
      <div>
        <label>
          Rue:
          <input type="text" formControlName="street">
        </label>
      </div>
      <div>
        <label>
          Code postal:
          <input type="text" formControlName="postcode">
        </label>
      </div>

      <div>
        <label>
          Ville:
          <input type="text" formControlName="city">
        </label>
      </div>

    </div>

    <div>
      <label>
        Status:
        <select name="grp" class="choose" formControlName="status">
          <option value="">--Choisir un groupe--</option>
          <option value="Jsp1">Jsp1</option>
          <option value="Jsp2">Jsp2</option>
          <option value="Jsp3">Jsp3</option>
          <option value="Jsp4">Jsp4</option>
          <option value="admin">Admin</option>
          <option value="superAdmin" *ngIf="(currentUser.status=='superAdmin')">SuperAdmin</option>
        </select>
      </label>
    </div>


    <div>
      <label>
        Photo:
        <input type="text" formControlName="imgUrl">
      </label>
    </div>

    <button type="submit"> Submit</button>
  </div>
</form>
